<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <div id="moneyAmounts">
      <button class="button button-calm">
  $2
</button>
<button class="button button-calm">
  $5
</button>
<button class="button button-calm">
  $10
</button>
<button class="button button-calm">
  $20
</button>
    </div>
    <div id='anyAmount'>
      <input type="text" name="Allowence"/>
    <input type="submit" value="Submit"/>
    </div>
    
  </ion-content>
</ion-view>
