<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div ng-show="!showSuccessFlag">
    <img ng-src="{{chat.face}}" id="kidsImg">
    <div id="moneyAmounts">
      <button class="button button-calm" ng-click="saveFor(chat,2)">
  $2
</button>
<button class="button button-calm" ng-click="saveFor(chat,5)">
  $5
</button>
<button class="button button-calm" ng-click="saveFor(chat,10)">
  $10
</button>
<button class="button button-calm" ng-click="saveFor(chat,20)">
  $20
</button>
    </div>
    <div id='anyAmount'>
      <div class="list list-inset ">
  <label class="item item-input ">
    <i class="icon ion-cash placeholder-icon cash-big"></i>
    <input type="text" placeholder="allownace" ng-model="otherPayment">
  </label>
</div>
              <a class="button button-full button-balanced" ng-click="saveFor(chat,otherPayment)" >Send to {{chat.name.split(" ")[0]}}</a>

    </div>
    </div>
    <div ng-show="showSuccessFlag">
      
      <div class="card">
  <div class="item item-divider">
    Success
  </div>
  <div class="item item-text-wrap success-waiting">
    Transfer is initiated. {{chat.name.split(" ")[0]}} will love this.
  </div>
  <div class="item item-divider">
    
  </div>
</div>
    </div>
  </ion-content>
</ion-view>
