<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" id="kidsImg">
    <div id="moneyAmounts">
      <button class="button button-calm">
  $2
</button>
<button class="button button-calm">
  $5
</button>
<button class="button button-calm">
  $10
</button>
<button class="button button-calm">
  $20
</button>
    </div>
    <div id='anyAmount'>
      <div class="list list-inset ">
  <label class="item item-input ">
    <i class="icon ion-cash placeholder-icon cash-big"></i>
    <input type="text" placeholder="allownace">
  </label>
</div>
    <input type="submit" value="Submit" ng-click="submitMyPayment()"/>
              <a class="button button-full button-balanced" href="#/tab/facts/11/50">Submitmypayment</a>

    </div>
    
  </ion-content>
</ion-view>
