<ion-view view-title="EduApp">
  <ion-content class="padding">
    </div>
    <div class="list card">
      <div class="item item-divider">Option 1</div>
      <div class="item item-body">
        <div>
          <a class="button button-full button-calm" href="#/tab/facts">Parents</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Option 2</div>
      <div class="item item-body">
        <div>
          <a class="button button-full button-balanced" href="#/tab/questions/11">Childrens</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
