<ion-view view-title="My Account">
  <ion-content>
    <div class="list card">

  
  <center>
  <div class="item item-image" style="width:200px;height:150px">
    <img src="img/card.jpg" class="padding" >
  </div>
  </center>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Use this card
  </a>

</div>
<!-- <div class="list card">

  
  <center>
  <div class="item item-image" style="width:200px;height:150px">
    <img src="img/card2.jpg" class="padding" >
  </div>
  </center>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Use this card
  </a>

</div> -->

<div class="list card">

  
  <center>
  <div class="item item-image" style="width:200px;height:150px">
    <img src="img/card3.jpg" class="padding" >
  </div>
  </center>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Use this card
  </a>

</div>

  </ion-content>
</ion-view>
