<ion-view view-title="Type of Quiz">
  

   <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Math Quiz
    </ion-toggle>
    
     <ion-toggle  ng-model="settings.enableFriends1">
        Finance Quiz
    </ion-toggle>
    
     <ion-toggle  ng-model="settings.enableFriends2">
        Literature Quiz
    </ion-toggle>
    
     <ion-toggle  ng-model="settings.enableFriends3">
        Science Quiz
    </ion-toggle> 
    
    </ion-list> 
               <a class="button button-full button-balanced" href="#/tab/facts/{{chat.id}}/math">Next</a>

    
  </ion-content>
  
  
</ion-view>
