Test Page for Kids Questions...
<ion-pane ng-controller="CardsCtrl">
      
      <ion-header-bar class="bar-transparent">
        <h1 class="title">Help Out</h1>
      </ion-header-bar>
      <div ng-show="showCards">
        <swipe-cards on-card-swipe="onSwipe($event)">

      <swipe-cards>
        <swipe-card on-card-swipe="cardSwiped()" id="start-card">
          Your 10$ are waiting ...
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">

          <div ng-controller="CardCtrl">
            <div class="title">
              {{card.title}}
            </div>
            <div class="image">
              <img ng-src="{{card.image}}">
            </div>
            <div class="button-bar">
              <button class="button button-clear button-positive" ng-click="goAway(card,card.id,'Y')">Yes</button>
              <button class="button button-clear button-positive" ng-click="goAway(card,card.id,'N')">No</button>
            </div>
          </div>
        </swipe-card>
      </swipe-cards>
      </div>
      <div ng-show="!showCards">
        <ion-content scroll="false" class="has-header">
        <div class="list list-inset">

    <div class="item">
                <h1>Your payment is getting processed </h1>

    </div>

  <div class="item">
                      <ion-spinner icon="bubbles" class="spinner-balanced"></ion-spinner>
  
  </div>

</div>
        
      </div>
      
      
    </ion-pane>

    <!-- quick cache hack -->
    <!--<img src="https://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic.png" style="display: none">-->
    <!--<img src="https://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic1.png" style="display: none">-->
    <!--<img src="https://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic2.png" style="display: none">-->
    <!--<img src="https://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic3.png" style="display: none">-->
    <!--<img src="https://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic4.png" style="display: none">-->
  